.HomeButton__button {
  /* top: 80vh; */
  font-size: 2em;
  /* padding: 5px 15px; */
  /* padding: 15 0px; */
  background: rgba(54, 54, 54, 0.39);
  cursor: pointer;
  border-radius: 5px;
  border: 4px solid rgba(255, 255, 255, 0.808);
  font-family: "Syncopate", sans-serif;
}
.HomeButton__button p {
  margin: 20px 25px;
  color: white;
}
